//Primary Scale
$dark-purple: #1C1449;
$mid-purple: #534E8C;
$light-purple: #7673C0;

//Gray Scale

$dark-gray: #252A30;
$mid-gray: #7F8A93 ;
$light-gray: #CED1D6;
$ultralight-gray: #fafafa;

//Blue Scale

$dark-blue: #082C6B;
$mid-blue: #082C6B;
$light-blue: #082C6B;

//Green Scale
$dark-green: #066515;
$mid-green:#86cf95;
$light-green:#f8fcf9;

//Red Scale
$dark-red: #92174D;
$mid-red:#FF385C;
$light-red: #de7575;


*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.carou-caption { 
    max-width: 600px;
}




