$primary-color:  ;
$secondary-color: ;
$bg-black:;
$bg-near-black:;
$bg-dark-gray:;
$bg-mid-gray:;
$bg-dark-gray:;
$bg-gray:;
$bg-light-gray:;
$bg-silver:;
$bg-light-silver:;
$bg-lightest-silver:;
$bg-near-white:;
$bg-dark-purple:;
$bg-purple:;
$bg-light-purple:;
$bg-lightest-purple:;
$bg-dark-blue:;
$bg-blue:;
$bg-light-blue:;
$bg-lightest-blue:;
$bg-dark-green:;
$bg-green:;
$bg-light-green:;
$bg-dark-red:;
$bg-red:;
$bg-light-red:;
$bg-lightest-red:;
$bg-dark-orange:;
$bg-orange:;
$bg-light-orange:;
$bg-lightest-orange:;

//Background gradients
$bg-gradient-primary:;
$bg-gradient-secondary:;
$bg-gradient-light-gray:;
$bg-gradient-gray:;
$bg-gradient-dark-gray:;
$bg-gradient-silver:;
$bg-gradient-blue:;
$bg-gradient-red:;
$bg-gradient-orange:;

//Black Opacity
$b--black-90:;
$b--black-80:;
$b--black-70:;
$b--black-60:;
$b--black-50:;
$b--black-40:;
$b--black-30:;
$b--black-20:;
$b--black-10:;
$b--black-05:;
$b--black-025:;

//Buttons
$mp-button-primary:;
$mp-button-secondary:;
$mp-button-tertiary:;
$mp-button-danger-primary:;
$mp-button-danger:;
$mp-button-warning:;
$mp-button-info:;
$mp-button-success:;

// Small Buttons
$mp-button-sm--primary:;
$mp-button-sm--secondary:;
$mp-button-sm--tertiary:;
$mp-button-sm--danger-primary:;
$mp-button-sm--danger:;
$mp-button-sm--warning:;
$mp-button-sm--info:;
$mp-button-sm--success:;

















