@use '../custom' as *;
@use '../components/mixins' as *;



.banner-img{
    width: 800px;
    margin-top: 10rem;
    min-width: 330px;
    overflow: hidden;
    
}

.container-dashboard{
    max-width: 940px ;
    padding: 0 0.5rem 0;
}


.wrapper {
    padding: 15px;
    max-width: 1218px;
}

.slider-dashboard-dark{
    padding: 2rem;
    background-color: $dark-gray;
    display: flex;
    overflow-x: auto;
}

.slider-dashboard-dark::-webkit-scrollbar{
    width:0;
}


.slider-dashboard-dark .item{
    min-width: 300px;
    text-align: center;
    margin-right: 10px;
    align-items: center;
    border-radius: 10px;

}

.slider-dashboard .item img {
    overflow: hidden;
    border-radius: 10px;

}

.item-text{
    color: $ultralight-gray;
    padding: 1rem;
    background-color: $dark-gray;

}


// Slider Dashboard de fondo Light Gray

.slider-dashboard-light{
    padding: 2rem;
    background-color:#fff;
    display: flex;
    overflow-x: auto;
    background-color: $ultralight-gray;
}

.slider-dashboard-light ::-webkit-scrollbar{
    width: 0;
}


.dashboard-card-steps{
    min-width: 300px;
    text-align: left;
    margin-right: 10px;
    align-items: top;
    border-radius: 10px;
    display: flex;
    
    
}