
@use '../custom' as *;
@use '../components/mixins' as *;



.input-form{
    border-radius: 8px;
    color: $mid-gray;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400 ;
    appearance: none ;
    border-width: 1px ;
    border-style: solid ;
    border-color: $light-gray ;
    padding: 11px ;
    margin-bottom: 8px ;
    display: block ;
    width: 100% ;
    
}