@use '../custom' as *;
@use '../components/mixins' as *;


.menu {
    border-bottom: 1px solid $dark-gray;
}

/* Botones nav del dashboard usuario */

.dashboard-nav {
    text-decoration: none;
    display: flex;
    justify-content: center;      
}

.navigation-menu{
    margin: 1rem;
    overflow: hidden;

}

.navigation-menu ul {
    display: -webkit-flex;
    display: flex;
    padding: 0.6125rem 0 0.6125rem 0.1875rem;
    overflow-y: hidden;
    list-style: none;
    overflow-x: auto!important;
    display: grid!important;
    grid-gap: 12px!important;
    grid-gap: 5px!important;
    gap: 5px!important;
    grid-template-rows: repeat(2,auto)!important;
    grid-template-columns: repeat(calc(var(--column-count) - 1),calc(100% - 108px)) 100%!important;
    grid-auto-flow: column!important;
    -ms-scroll-snap-type: x mandatory!important;
    scroll-snap-type: x mandatory!important;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

 .navigation-menu ul li  {
    padding: 2rem;
    font-size: 0.75rem;
    line-height: 1.33333;
    margin-right: 0.2rem;
    border: 1px solid $light-gray;
    border-radius: 8px;
    min-width: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    //box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        &:hover{
            border:1px solid $mid-gray;
            cursor: pointer;

        }   
 }

 .link-item{
    text-decoration: none;
    color: $dark-gray;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 10px;
  
    
 }

 .item-menu img {
    width: 30px;
    height: 30px;
 }





