@use '../custom' as *;
@use '../components/mixins' as *;


.menu {
    border-bottom: 1px solid $dark-gray;
}

/* Botones nav del dashboard usuario */

.dashboard-nav {
    text-decoration: none;
    display: flex;
    justify-content: center;      
}

/*
.wrapper {
    border: 1px solid $ultralight-gray;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;

}
*/



