
@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded {
    border-radius: 30px;
    padding: 8px 17px;
    background-color: transparent;
    border: 1px solid $dark-gray;
    color: $dark-purple;
    
}


.btn-mn-primary{
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: $mid-purple;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;

    &:a{
        text-decoration: none ;
        color: $ultralight-gray;
    }

    &:hover {
        color: $ultralight-gray;
        text-decoration: none;
      }

  

}

.btn-mn-gray{
    border-radius: 30px;
    padding: 8px 17px;
    background-color: #f1f1f1;
    color: $dark-purple;
    margin-left: 10px;
    font-weight: 400;
    text-decoration: none;
    min-height: 20px;

    &:a{
        text-decoration: none !important;
        color: $dark-gray !important;
    }

    &:hover {
        background: #f1f1f1;
      }
}


.btn-mn-transparent{
    @include button-rounded;
    color: $dark-purple;
    background-color: transparent;
    border: 1px solid $dark-purple;
    margin-left: 10px;
    
    &:hover {
        background: $ultralight-gray;
        color: $mid-purple;
      }

}
    