
@use '../custom' as *;
@use '../components/mixins' as *;


.btn-rounded {
    border-radius: 30px;
    padding: 8px 17px;
    background-color: transparent;
    border: 1px solid $dark-gray;
    color: $dark-purple;
    text-decoration: none;
    font-weight: 400;
 

    &:a{
        text-decoration: none ;
        color: $dark-gray;
    }

    &:hover{
        color: $mid-purple;
    }


    
}

.btn-rounded a {
    text-decoration: none;
}


.btn-rounded-bg-white{
    @include button-rounded;
    color: $dark-gray;
    border: none;
}

.btn-mn-primary{
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: $mid-purple;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;

    &:a{
        text-decoration: none ;
        color: $ultralight-gray;
    }

    &:hover {
        color: $ultralight-gray;
        text-decoration: none;
      }

}

.btn-mn-gray{
    border-radius: 30px;
    padding: 8px 17px;
    background-color: #f1f1f1;
    color: $dark-purple;
    margin-left: 10px;
    font-weight: 400;
    text-decoration: none;
    min-height: 20px;

    &:a{
        text-decoration: none !important;
        color: $dark-gray !important;
    }

    &:hover {
        background: #f1f1f1;
    }
}

.btn-share{
    color: $dark-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;


    &:hover {
        background: $ultralight-gray;
        color: $mid-purple;
        border-radius: 30px;

      }
    
   
}


//BOTONES BACKGROUND TRANSPARENT

.btn-mn-transparent{
    @include button-rounded;
    color: $dark-purple;
    background-color: transparent;
    border: 1px solid $dark-purple;
    margin-left: 10px;
    
    &:hover {
        background: $ultralight-gray;
        color: $mid-purple;
      }

      &:a{
        text-decoration: none !important;
        color: $dark-gray !important;
    }

}

//Boton warning background transparent outline red

.btn-rounded-warning{
    @include button-rounded;
    color: $mid-red;
    background-color: transparent;
    border: 1px solid $mid-red;
    margin-left: 10px;
    
    &:hover {
        background: $ultralight-gray;
        color: $mid-purple;
      }
    }



//Botón purple añadir elemento, fondo transparente outline purple

.add-button{
    @include button-rounded;
    border-radius: 20px;
    color: $mid-purple;
    border: none;
    background-color: $ultralight-gray;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
        background: $ultralight-gray;
        color: $mid-purple;
      }

    
}

// Icono (Más) Boton purple añadir elemento, fondo transparente outline purple

.plus-icon{
    color: $light-purple;
    width: 20px;
    margin-left: 4px;
}



.btn-edit{
    text-decoration: underline;
    color: $dark-purple;
    border: none;
    background-color: transparent;
    font-weight: 400;
}



//BADGES

.item-card-badge-active{
    @include badge;
    background-color: $dark-green;
    
}

.item-card-badge-disabled{
    @include badge;
    background-color: $mid-red;
}
