
@use '../custom' as *;
@use './mixins' as *;


/* Titulo de encabezados de pagina, titulos principales */

    .title-1{
        font-weight: 700;
        color: $dark-purple;
        margin-top: 0.5rem;
        font-size: 52px;
          
    }

    .title-1-light{
        font-weight: 700;
        color: white;
        margin-top: 0.5rem;
        font-size: 52px;
          
    }

   
    .title-2 {
        font-weight : 400;
        color: $dark-purple;
        font-size: 40px;
        padding: 1.5rem 3rem;

    }

    .header-purple-gradient{
        @include heroku;
        font-weight: 700;
        padding: 3rem;
        line-height: 1;
        font-family: 'IBM Plex Mono', monospace;
        margin: 2rem 0 2rem 0;
        

    }

