@use '../custom' as *;

@mixin gradient {
    background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);
    color: #fff;
    padding: 2rem;

}

@mixin pink-gradient {
    background-image: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone
}

@mixin heroku {
    background-color: #58488a;
    background-image: linear-gradient(to bottom right, #58488a, #5d64d0);
    overflow: hidden;
    color: #fff;
}



/*Buttons & Badges  */
 
@mixin button-rounded{
        border-radius: 30px;
        padding: 8px 17px;
        font-weight: 400;
        text-decoration: none;
        min-height: 20px; 
    
    }

@mixin badge{
        padding: 2px 12px;
        max-width: 100%;
        border: none;
        color: #f8fcf9;
        border-radius: 20px;
        font-weight: 400;
        font-size: 0.8rem;
    
}



/* Cards */

@mixin card{
    margin-bottom: 1rem;
    border: 1px solid $light-gray;
    border-radius: 12px;
    height: 220px;
}
