* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.carou-caption {
  max-width: 600px;
}

/*Buttons & Badges  */
/* Cards */
.btn-rounded {
  border-radius: 30px;
  padding: 8px 17px;
  background-color: transparent;
  border: 1px solid #252A30;
  color: #1C1449;
  text-decoration: none;
  font-weight: 400;
}
.btn-rounded:a {
  text-decoration: none;
  color: #252A30;
}
.btn-rounded:hover {
  color: #534E8C;
}

.btn-rounded a {
  text-decoration: none;
}

.btn-rounded-bg-white {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
  color: #252A30;
  border: 1px solid #252A30;
}

.btn-mn-primary {
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #534E8C;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
}
.btn-mn-primary:a {
  text-decoration: none;
  color: #fafafa;
}
.btn-mn-primary:hover {
  color: #fafafa;
  text-decoration: none;
}

.btn-mn-danger {
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #F94C66;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
}
.btn-mn-danger:a {
  text-decoration: none;
  color: #fafafa;
}
.btn-mn-danger:hover {
  color: #fafafa;
  text-decoration: none;
}

.btn-mn-gray {
  border-radius: 30px;
  padding: 8px 17px;
  background-color: #f1f1f1;
  color: #1C1449;
  margin-left: 10px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
}
.btn-mn-gray:a {
  text-decoration: none !important;
  color: #252A30 !important;
}
.btn-mn-gray:hover {
  background: #f1f1f1;
}
.btn-mn-gray .btn-mn-transparent {
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
  color: #377D71;
  background-color: transparent;
  border: 1px solid #252A30;
}
.btn-mn-gray .btn-mn-transparent:a {
  text-decoration: none !important;
  color: #252A30 !important;
}
.btn-mn-gray .btn-mn-transparent:hover {
  background: #f1f1f1;
}
.btn-mn-gray btn-share {
  color: #1C1449;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
}
.btn-mn-gray btn-share:hover {
  background: #fafafa;
  color: #534E8C;
  border-radius: 30px;
}
.btn-mn-gray .btn-mn-transparent {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
  color: #1C1449;
  background-color: transparent;
  border: 1px solid #1C1449;
  margin-left: 10px;
}
.btn-mn-gray .btn-mn-transparent:hover {
  background: #fafafa;
  color: #534E8C;
}
.btn-mn-gray .btn-mn-transparent:a {
  text-decoration: none !important;
  color: #252A30 !important;
}
.btn-mn-gray .btn-rounded-warning {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
  color: #F94C66;
  background-color: transparent;
  border: 1px solid #F94C66;
  margin-left: 10px;
}
.btn-mn-gray .btn-rounded-warning:hover {
  background: #fafafa;
  color: #534E8C;
}
.btn-mn-gray .add-button {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 400;
  text-decoration: none;
  min-height: 20px;
  border-radius: 20px;
  color: #534E8C;
  border: none;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-mn-gray .add-button:hover {
  background: #fafafa;
  color: #534E8C;
}
.btn-mn-gray .plus-icon {
  color: #7673C0;
  width: 20px;
  margin-left: 4px;
}
.btn-mn-gray .btn-edit {
  text-decoration: underline;
  color: #1C1449;
  border: none;
  background-color: transparent;
  font-weight: 400;
}
.btn-mn-gray .item-card-badge-active {
  padding: 2px 12px;
  max-width: 100%;
  border: none;
  color: #f8fcf9;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: #377D71;
}
.btn-mn-gray .item-card-badge-disabled {
  padding: 2px 12px;
  max-width: 100%;
  border: none;
  color: #f8fcf9;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: #F94C66;
}
/*# sourceMappingURL=_buttons.css.map */